<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Home</title>
  <link rel="stylesheet" href="/output.css">
</head>

<body class="h-dvh  bg-gray-50 ">
  <%- include('./partials/nav.ejs', {tab: "fav" }) %>
    <div class="flex justify-center items-center flex-col mt-20 w-full pb-10">

      <h1 class="text-2xl text-blue-600 font-bold mb-5 w-full text-center">These are your favourite houses</h1>

      <div class=" md:w-3xl w-[70%] h-max p-3 flex flex-wrap gap-3 justify-center rounded-lg">
        <% if (newList && newList.length>0) { %>
          <% newList.forEach(house=> { %>
            <div class="shadow shadow-black p-2 w-60 text-gray-600 rounded-lg  hover:cursor-pointer">
              <img src="/bg.png" class="w-full rounded-lg" alt="<%= house.title %>">
              <p>
                <%= house.title %>
              </p>
              <div class="flex justify-between items-center">
                <p class="">Price per day <span>
                    <%= house.price %>
                  </span>/-Rs</p>
                <p
                  class="text-xs font-bold flex justify-center items-center text-white bg-gradient-to-r from-blue-500 to-blue-600 rounded-full p-2 size-2">
                  <%= house.rating %>
                </p>
              </div>

              <div class="flex justify-between items-center text-white mt-2">
                <form action="" method="post">
                  <input type="hidden" value="<%= house.id%>" name="id">
                  <button type="submit"
                    class="bg-gradient-to-r from-blue-500 to-blue-600 rounded-lg p-2 hover:cursor-pointer hover:opacity-80 transition-all duration-300">
                    View
                  </button>
                </form>
                <form action="/favDelete" method="post">
                  <input type="hidden" value="<%= house.id%>" name="id">
                  <button class="ring-2 rounded-lg p-1 px-2 text-blue-600 hover:cursor-pointer">
                    Remove Favourite
                  </button>
                </form>
              </div>
            </div>
            <% }); %>
              <% } else { %>
                <p class="text-gray-500">No houses are added to favourite yet</p>
                <% } %>
      </div>

    </div>

</body>

</html>