<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Home</title>
  <link rel="stylesheet" href="/output.css">
</head>

<body class="h-dvh bg-gray-50">
  <%- include('./partials/nav.ejs',{tab : "home" }) %>


    <div class="flex justify-center items-center flex-col mt-20 w-full p-5 pb-10 ">
      <h1 class="text-2xl text-blue-600 font-bold mb-5 w-full text-center uppercase">This is your selected Home</h1>

      <div class="shadow shadow-gray-500 h-max p-3  flex gap-3 justify-center rounded-lg flex-wrap w-[400px]">
        <div>
          <img src="<%= house.photoUrl %>" alt="house image" class="w-full h-60 object-cover rounded-lg">
        </div>
        <div class="font-semibold w-full">
          <p class="text-xl">
            <%= house.title %>
          </p>
          <div class="flex justify-between items-center w-full">
            <p class="text-xl text-green-600 ">
              Rs.<%= house.price %>
            </p>
            <p
              class="text-xs font-bold flex justify-center items-center text-white bg-gradient-to-r from-blue-500 to-blue-600 rounded-full p-2 size-2">
              <%= house.rating %>
            </p>
          </div>
        </div>
        <div>
          <p>No more info available</p>
        </div>
      </div>

    </div>

</body>

</html>